# Example TOML
has_headers = true
delimiter = "comma"

[exclude]
[[exclude.conditions]]
type = "RecordLen"
content = 2

[[exclude.conditions]]
type = "ColumnContainsValue"
[exclude.conditions.content]
column = 0              # Order date
value = "Order date"    # CSV header but not at top of file
operation = "contains"

[[exclude.conditions]]
type = "ColumnContainsValue"
[exclude.conditions.content]
column = 2              # Order date
value = "Service Fee"    # CSV header but not at top of file
operation = "equal"

[[exclude.conditions]]
type = "ColumnContainsValue"
[exclude.conditions.content]
column = 2              # Order date
value = "Tax On Interest"    # CSV header but not at top of file
operation = "equal"

[[exclude.conditions]]
type = "ColumnContainsValue"
[exclude.conditions.content]
column = 2              # Order date
value = "Dealing Fee"    # CSV header but not at top of file
operation = "equal"

[[exclude.conditions]]
type = "ColumnContainsValue"
[exclude.conditions.content]
column = 2              # Order date
value = "Cash In Ring-fenced For Fees"    # CSV header but not at top of file
operation = "equal"

[[exclude.conditions]]
type = "ColumnContainsValue"
[exclude.conditions.content]
column = 2              # transaction type
value = "Cash Out For Buy"
operation = "contains"

[xsv_to_ledger_record.date]
date_format="%d %b %Y"
date_regex='\d{2} [A-Z][a-z]{2} \d{4}'
column = 0

[xsv_to_ledger_record.payee]
[xsv_to_ledger_record.payee.xsv_to_entry]
hint_columns = [2]      # Transaction type, Investments

# [xsv_to_ledger_record.notes]
# [xsv_to_ledger_record.notes.xsv_to_entry]
# hint_columns = [6]

[xsv_to_ledger_record.target_posting]
[xsv_to_ledger_record.target_posting.account]
[xsv_to_ledger_record.target_posting.account.xsv_to_entry]
hint_columns = [2,3,4]

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key= "Cash In Lump"
value= "Assets:Investments:Fidelity:ISA:Cash"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Interest.*Investment ISA"
value = "Assets:Investments:Fidelity:ISA:Cash"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Interest.*Investment Account"
value = "Assets:Investments:Fidelity:InvestmentAccount:Cash"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Interest.*Cash Management"
value = "Assets:Investments:Fidelity:ISA:Cash"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Vanguard FTSE 100 Index Unit Trust GBP Acc"
value = "Assets:Investments:Fidelity:ISA:Ftse100"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "VANGUARD FUNDS PLC, S&P 500 UCITS ETF USD DIS"
value = "Assets:Investments:Fidelity:ISA:VUSA"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Tax.*Investment Account"
value = "Assets:Investments:Fidelity:InvestmentAccount:Cash"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Dividend.*Investment ISA"
value = "Assets:Investments:Fidelity:ISA:Cash"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Transfer To Cash Management Account For Fee.*Investment ISA"
value = "Expenses:Investments:Fidelity:Fees"

[xsv_to_ledger_record.target_posting.price.amount]
[xsv_to_ledger_record.target_posting.price.amount.quantity]
[xsv_to_ledger_record.target_posting.price.amount.quantity.xsv_to_entry]
hint_columns = [8]

[xsv_to_ledger_record.target_posting.price.amount.commodity]
[xsv_to_ledger_record.target_posting.price.amount.commodity.xsv_to_entry]
hint_columns = [3]

[[xsv_to_ledger_record.target_posting.price.amount.commodity.xsv_to_entry.hint_mapping]]
key= "Cash"
value= "GBP"

[[xsv_to_ledger_record.target_posting.price.amount.commodity.xsv_to_entry.hint_mapping]]
key= "Vanguard FTSE 100 Index Unit Trust GBP Acc"
value= "VFTSE"

[[xsv_to_ledger_record.target_posting.price.amount.commodity.xsv_to_entry.hint_mapping]]
key= "VANGUARD FUNDS PLC, S&P 500 UCITS ETF USD DIS"
value= "VUSA"


[xsv_to_ledger_record.target_posting.price.cost_amount]

[xsv_to_ledger_record.target_posting.price.cost_amount.amount]
[xsv_to_ledger_record.target_posting.price.cost_amount.amount.quantity]
[xsv_to_ledger_record.target_posting.price.cost_amount.amount.quantity.xsv_to_entry]
hint_columns = [9]

[xsv_to_ledger_record.target_posting.price.cost_amount.amount.commodity]
[xsv_to_ledger_record.target_posting.price.cost_amount.amount.commodity.xsv_to_entry]
hint_columns = [2]

[[xsv_to_ledger_record.target_posting.price.cost_amount.amount.commodity.xsv_to_entry.hint_mapping]]
key= "Buy"
value= "GBP"

[xsv_to_ledger_record.target_posting.price.cost_amount.exclude]
[[xsv_to_ledger_record.target_posting.price.cost_amount.exclude.conditions]]
type = "ColumnContainsValue"
[xsv_to_ledger_record.target_posting.price.cost_amount.exclude.conditions.content]
column = 9              # transaction type
value = "1"
operation = "equal"

[[xsv_to_ledger_record.target_posting.price.cost_amount.exclude.conditions]]
type = "ColumnContainsValue"
[xsv_to_ledger_record.target_posting.price.cost_amount.exclude.conditions.content]
column = 9              # transaction type
value = "0"
operation = "equal"


[xsv_to_ledger_record.source_posting]
[xsv_to_ledger_record.source_posting.account]
[xsv_to_ledger_record.source_posting.account.xsv_to_entry]
hint_columns = [2,3,4,6]

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key= "Cash In Lump"
value= "Assets:WireTransfer:HSBC_FIDELITY"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Interest.*Investment ISA"
value = "Income:Fidelity:ISA:Cash:Interest"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Interest.*Investment Account"
value = "Income:Fidelity:InvestmentAccount:Cash:Interest"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Interest.*Cash Management"
value = "Income:Fidelity:ISA:Cash:Interest"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Vanguard FTSE.*Investment ISA"
value = "Assets:Investments:Fidelity:ISA:Cash"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key= "Buy.*VANGUARD FUNDS PLC, S&P 500 UCITS ETF USD DIS"
value = "Assets:Investments:Fidelity:ISA:Cash"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Tax On Interest"
value = "Expenses:Fidelity:TaxOnInterest"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Dividend.*AAPL"
value = "Income:Fidelity:ISA:AAPL:Divident"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Cash Dividend.*VUSA"
value = "Income:Fidelity:ISA:VUSA:Divident"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Transfer To Cash Management Account For Fee.*Investment ISA"
value = "Assets:Investments:Fidelity:ISA:Cash"
