# Schwab TOML
has_headers = true
delimiter = "comma"


[exclude]
[[exclude.conditions]]
type = "RecordLen"
content = 1

[xsv_to_ledger_record.date]
date_format="%m/%d/%Y"
date_regex='\d{2}/\d{2}/\d{4}'
column = 0

[xsv_to_ledger_record.payee]
[xsv_to_ledger_record.payee.xsv_to_entry]
hint_columns = [1]

[xsv_to_ledger_record.notes]
[xsv_to_ledger_record.notes.xsv_to_entry]
hint_columns = [1,2,3]

[xsv_to_ledger_record.target_posting]
[xsv_to_ledger_record.target_posting.account]
[xsv_to_ledger_record.target_posting.account.xsv_to_entry]
hint_columns = [1,2]

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Sell.*META"
value = "Assets:Investments:CharlesSchwab:Cash"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "Stock Plan Activity.*META"
value = "Assets:Investments:CharlesSchwab:Meta"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "GOOG"
value = "Assets:Investments:CharlesSchwab:GOOG"

[[xsv_to_ledger_record.target_posting.account.xsv_to_entry.hint_mapping]]
key = "CSTNL"
value = "Assets:Investments:CharlesSchwab:CSTNL"

[xsv_to_ledger_record.target_posting.price.amount]
[xsv_to_ledger_record.target_posting.price.amount.quantity]
[xsv_to_ledger_record.target_posting.price.amount.quantity.xsv_to_entry]
hint_columns = [4]

[xsv_to_ledger_record.target_posting.price.amount.commodity]
[xsv_to_ledger_record.target_posting.price.amount.commodity.xsv_to_entry]
hint_columns = [2]

[xsv_to_ledger_record.target_posting.price.cost_amount]
[xsv_to_ledger_record.target_posting.price.cost_amount.amount]
[xsv_to_ledger_record.target_posting.price.cost_amount.amount.quantity]
[xsv_to_ledger_record.target_posting.price.cost_amount.amount.quantity.xsv_to_entry]
hint_columns = [5]

[xsv_to_ledger_record.target_posting.price.cost_amount.amount.commodity]
[xsv_to_ledger_record.target_posting.price.cost_amount.amount.commodity.xsv_to_entry]
hint_columns = [5]

[[xsv_to_ledger_record.target_posting.price.cost_amount.amount.commodity.xsv_to_entry.hint_mapping]]
key= "$"
value= "USD"

[xsv_to_ledger_record.target_posting.price.cost_amount.exclude]
[[xsv_to_ledger_record.target_posting.price.cost_amount.exclude.conditions]]
type = "ColumnContainsValue"
[xsv_to_ledger_record.target_posting.price.cost_amount.exclude.conditions.content]
column = 5              # transaction type
value = ""
operation = "equal"

[xsv_to_ledger_record.source_posting]
[xsv_to_ledger_record.source_posting.account]
[xsv_to_ledger_record.source_posting.account.xsv_to_entry]
hint_columns = [1,2]

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Stock Plan Activity"
value = "Income:Facebook:RSU"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Buy"
value = "Assets:Investments:CharlesSchwab:Cash"

[[xsv_to_ledger_record.source_posting.account.xsv_to_entry.hint_mapping]]
key = "Sell.*META"
value = "Assets:Investments:CharlesSchwab:Meta"
